In [1]:
#1 usa stock
import pandas_datareader.data as pdr

In [2]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\windows 11\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\windows 11\anaconda3\lib\site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas_datareader) (2.26.0)
Requirement already satisfied: pandas>=0.23 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas_datareader) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\windows 11\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)

In [3]:
import datetime as dt

In [7]:
symb="AAPL"
start=dt.datetime(2019,1,1)
end=dt.datetime(2020,1,1)

data=pdr.get_data_yahoo(symb)
data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-06-22,36.674999,36.279999,36.442501,36.407501,76425200.0,34.465744
2017-06-23,36.790001,36.277500,36.282501,36.570000,141757600.0,34.619579
2017-06-26,37.070000,36.345001,36.792500,36.455002,102769600.0,34.510712
2017-06-27,36.540001,35.904999,36.252499,35.932499,99047600.0,34.016075
2017-06-28,36.527500,35.790001,36.122501,36.457500,88329600.0,34.513081
...,...,...,...,...,...,...
2022-06-14,133.889999,131.479996,133.130005,132.759995,84784300.0,132.759995
2022-06-15,137.339996,132.160004,134.289993,135.429993,91533000.0,135.429993
2022-06-16,132.389999,129.039993,132.080002,130.059998,108123900.0,130.059998
2022-06-17,133.080002,129.809998,130.070007,131.559998,134118500.0,131.559998
2022-06-21,137.059998,133.320007,133.419998,135.869995,80785400.0,135.869995

In [6]:
import pandas as pd
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = table[0]
df.to_csv('S&P500-Info.csv')
df.to_csv("S&P500-Symbols.csv", columns=['Symbol'])
df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
499,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZION,Zions Bancorporation,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
503,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [76]:
dt=df["Symbol"]

In [77]:
dt

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
499     YUM
500    ZBRA
501     ZBH
502    ZION
503     ZTS
Name: Symbol, Length: 504, dtype: object

In [3]:
#2 thai stock
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.72-py2.py3-none-any.whl (27 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
Requirement already satisfied: lxml>=4.5.1 in c:\users\windows 11\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in c:\users\windows 11\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: requests>=2.26 in c:\users\windows 11\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: pandas>=0.24.0 in c:\users\windows 11\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\windows 11\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8500 sha256=16145ce4abb8ee458351bab65789cb15a4d58762224048bdb109ea47e642de9c
  Stored in directory: c:\users\windows 11\appdata\local\pip\cache\wheels\f2\b5\2c\59ba95dcf854e542944c75fe3da584e4e3833b319735a0546c
Successfully built multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.10 yfinance-0.1.72
Note: you may need to restart the kernel to use updated packages.

In [10]:
import yfinance as yf
data=yf.download("PTT.BK")

[*********************100%***********************]  1 of 1 completed

In [11]:
data

              Open    High    Low   Close  Adj Close      Volume
Date
2001-12-06   3.800   3.825   3.55   3.575   1.521888  1736808000
2001-12-07   3.625   3.625   3.55   3.550   1.511245   412533000
2001-12-10   3.550   3.550   3.55   3.550   1.511245           0
2001-12-11   3.550   3.550   3.40   3.400   1.447390   409158000
2001-12-12   3.425   3.525   3.40   3.500   1.489960   307291000
...            ...     ...    ...     ...        ...         ...
2022-06-16  36.000  36.250  34.75  34.750  34.750000   181631200
2022-06-17  34.500  34.500  33.50  33.500  33.500000   252882700
2022-06-20  33.250  33.500  33.00  33.250  33.250000    44082000
2022-06-21  33.750  34.000  33.50  33.750  33.750000    66612500
2022-06-22  33.500  34.000  33.50  33.750  33.750000    58807155

[5083 rows x 6 columns]

In [ ]:
import yfinance as yf
data=yf.download("BTC-USD")