In [2]:
import pandas_datareader.data as pdr

In [3]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\windows 11\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas_datareader) (2.26.0)
Requirement already satisfied: lxml in c:\users\windows 11\anaconda3\lib\site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: pandas>=0.23 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas_datareader) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\windows 11\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.7)

In [4]:
import datetime as dt

In [5]:
symb="AAPL"
start=dt.datetime(2019,1,1)
end=dt.datetime(2020,1,1)

data=pdr.get_data_yahoo(symb)
data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-06-19,36.685001,35.915001,35.915001,36.584999,130165600.0,34.633785
2017-06-20,36.717499,36.235001,36.717499,36.252499,99600400.0,34.319008
2017-06-21,36.517502,36.152500,36.380001,36.467499,85063200.0,34.522549
2017-06-22,36.674999,36.279999,36.442501,36.407501,76425200.0,34.465736
2017-06-23,36.790001,36.277500,36.282501,36.570000,141757600.0,34.619572
...,...,...,...,...,...,...
2022-06-13,135.199997,131.440002,132.869995,131.880005,122207100.0,131.880005
2022-06-14,133.889999,131.479996,133.130005,132.759995,84784300.0,132.759995
2022-06-15,137.339996,132.160004,134.289993,135.429993,91533000.0,135.429993
2022-06-16,132.389999,129.039993,132.080002,130.059998,108123900.0,130.059998
2022-06-17,132.654999,130.039993,130.065002,131.658997,30012353.0,131.658997

In [6]:
import pandas as pd
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = table[0]
df.to_csv('S&P500-Info.csv')
df.to_csv("S&P500-Symbols.csv", columns=['Symbol'])
df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
499,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZION,Zions Bancorporation,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
503,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [76]:
dt=df["Symbol"]

In [77]:
dt

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
499     YUM
500    ZBRA
501     ZBH
502    ZION
503     ZTS
Name: Symbol, Length: 504, dtype: object